.chat-display {
    width: 15vw;
    min-width: 15em;
    /* outline: 1px solid; */
    height: 50vh;
}

.chat-display input {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    outline: none;
    border: none;
}


.message-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-y: auto;
}

.message-container p {
    line-height: 0em;
    font-size: 1.2em;
    padding: 0%;
    padding-left: 0.5em;
    margin: 0.9em 0;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .chat-display {
        display: none;
    }
}