.game-display {
    display: flex;
    /* min-width: 600px; */
    width: 60vw;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* outline: 1px solid; */
}

td {
    outline: 1px solid;
    width: 100px;
    height: 100px;
}

.user-display {
    width: 15vw;
}

.tictactoe-grid {
    /* width: 600px; */
    font-size: 5em;
}

@media only screen and (max-width: 700px) {

   .game-display {
       outline: 1px solid;
       width: 100%;
       height: 100vw;
   }

   td {
        width: 20vw;
        height: 20vw;
   }
}